# mac stufff
.DS_Store

# The cache for chain data in container
.local

# exclude PyCharm metadata
.idea

# Node libs and package lock files
node_modules
package-lock.json
yarn.json
yarn.lock

# Runner images
app/public/runners/*.png







