#root {
  color: white;
  font-family: monospace;
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 125px
}

.my-green {
    color: #00ff54;
}

.navbar-grid {
    padding:10px;
    background-color:rgba(32, 64, 32, 0.75)
}

.navbar-box {
    text-align:center;
}

.navbar-title {
    background-color: rgba(16,32,16,0.5);
    height: 100px;
    width: 200px;
    padding-left: 40px;
}

.navbar-button {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.h1a {
    font-size:24px;
    color: #00ff54;
    font-weight: bold;
}

.h1b {
    font-size:20px;
    color: white;
    font-weight: bold;
}

.runner-panel {
  position: relative;
  background-image: url("panel2.png");
  background-size: 400px 700px;
  width: 400px;
  height: 700px;
  margin-inline:auto;
}

.runner-panel-draw {
  margin-top: 60px;
}

.runner-panel-winner {
  margin-top: 30px;
}

.runner-panel-looser {
  margin-top: 90px;
}

.runner-panel-title {
    position: absolute;
    left: 20px;
    top: 20px;
    line-height: 25px;
    font-size: xx-large;
    font-weight: bold;
}

.runner-panel-name {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 250px;
    height: 100px;
    overflow: hidden;
    color:#00ff54 ;
    line-height: 25px;
    font-size: xx-large;
    font-weight: bold;
}

.runner-panel-avatar {
    position: absolute;
    right: 20px;
    top: 70px;
    width: 100px;
    height: 100px;
}

.runner-panel-text {
    position: absolute;
    left: 20px;
    top: 200px;
    width: 350px;
    height: 375px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.runner-panel-action {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 60px;
    text-align: center
}

.vote-img-result {
    width:200px;
    height:200px
}

.vote-txt-result {
    font-size:40px;
    font-weight: bold;
}

.ranking-panel {
  position: relative;
  background-image: url("panel3.png");
  background-size: 600px 700px;
  width: 600px;
  height: 700px;
  margin-top: 50px;
  margin-inline:auto;
}

.ranking-panel-title {
    position: absolute;
    left: 20px;
    top: 20px;
    line-height: 25px;
    font-size: xx-large;
    font-weight: bold;
}

.ranking-panel-table {
    position: absolute;
    left: 20px;
    top: 70px;
    width: 560px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
}

.ranking-panel-info {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 300px;
    height: 60px;
    font-size: small;
}

.ranking-panel-action {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 200px;
    height: 60px;
    text-align: center;
}

.ranking-table-row {
    line-height: 40px;
    font-size: 18px;
}

.ranking-table-row:hover {
   cursor:pointer;
   background-color: #1a4e71;
   box-shadow: 1px 1px #1a4e71;
}

.ranking-panel-table th {
    border-bottom: 2px solid #0e283a;
}

.ranking-panel-table td {
    border-bottom: 2px solid #0e283a;
}

.ranking-table-important {
    color: #00ff54;
    font-weight: bold;
    font-size: 36px;
}

.ranking-table-row img {
    display:table-cell;
    vertical-align:middle;
}
